@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello World </h1>
    <p>Welcome to AutoTracker!<br/>
    * Track the maintenance history of your car<br />
    * Track the performance changes to your car<br />
    * Track the cost of the maintenance and changes<br />
    * TTrack everything<br />
    
    
    
    
    </p>
</div>
